.right.aligned.header {
  font-weight: 400;
  font-size: 1.4em;
  color: hsl(0, 0%, 40%);
}

.right.aligned.description {
  font-size: 3em;
  font-weight: 500;
  padding-top: 20px;
  color: hsl(0, 0%, 13%);
}

.ui.card {
  min-height: 140px;
}